[submodule "go/gost"]
	path = go/gost
	url = https://github.com/lkebin/gost
	branch = tor
[submodule "go/tor-static"]
	path = go/tor-static
	url = https://github.com/cretz/tor-static
	branch = xz-repo-to-https
[submodule "go/bine"]
	path = go/bine
	url = https://github.com/cretz/bine
