services:
  # Type tungo service is required
  - name: vpn
    handler:
      type: tungo
      chain: upstream

chains:
  - name: upstream
    hops:
      - name: hop0
        nodes:
          - name: server
            addr: example.com
            connector:
              type: ss
              metadata:
                method: chacha20-ietf-poly1305
                password: password
            dialer:
              type: tcp

